body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input,
label,
table {
  margin: 5px;
}
/* div #bingo {
  align-self: center;
} */
table {
  border: 1px solid black;
}
td {
  border: 2px solid gray;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: large;
}
mark {
  border-radius: 50%;
}
button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  border: 2px solid gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 2px; */
}
