.mybadge-genre {
    position: absolute;
    top: 1%;
    left: 1%;
  }
  table > tbody > tr {
    transition: background-color 1s;
    transition: color 1s;
  }
  table > tbody > tr:hover {
    background-color: black;
    color: whitesmoke;
  }
  /* <!-- EXERCISE 9
         Add a button "Add Track" under the track list the album, add a nice shadow transition when the button is hovered
  --> */
  #Track-List {
    transition: box-shadow 0.5s;
  }
  #Add-Track:hover {
    box-shadow: 0 0 10px #515151;
  }