body {
    text-align: center;
  }
  img {
    border: 2px solid rgba(255, 0, 0, 0.582);
    border-radius: 15px;
  }
  .ImgaesVisibility {
    visibility: hidden;
  }
  .chagePriceColor {
    color: red;
  }